body {
    list-style: none;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    color: white;
}


div {
    border: 5px solid black;
    padding: 5px;
    flex: 1 1 30rem;
    min-height: 30vh;
    max-height: calc(50vh - 0.5rem);
}

img {
    object-fit: cover;
    width: 100%;
    height: 25vh;
    opacity: 0, 7;
    transition: 180ms;
}

img:hover {
    opacity: 1;
}

header {
    font: 25px Arial, sans-serif;
}

span {
   
    font-size: 0.8em;
    line-height: 1.6em;
    width: 100%;
    height: 30%;
    min-width: 0;
    overflow: hidden;
    display: inline-block;
}

footer {
    font-size: 0.6em;
}